<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages!</title>
</head>
<body>
    <h1>Hello! Welcome to Ryan Seaman's message board.</h1>
    <h3>Feel free to leave a comment!</h3>
    <h3>Messages</h3>
    <% if(locals.messages && locals.messages.length > 0){ %>
        <% locals.messages.forEach(message => { %>
            <h3><%=message.user%></h3>
             <p><%=message.text%></p>
             <p><%=message.added%></p>
        <% }); %> 
    <% } else { %>
        <p>No messages found!</p>
    <% } %>
    <%- include("partials/addMessage.ejs") %>
</body>
</html>