<form action="/new" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <label for="text">Text</label>
    <input type="text" name="text" id="text">
    <br>
    <button type="submit">Add Message</button>
</form>